@font-face {
  font-family: "sp_regular";
  src: url("../fonts/sp-sans-web-regular.woff2") format("woff2"), url("../fonts/sp-sans-web-regular.woff") format("woff"), url("../fonts/sp-sans-web-regular.eot") format("eot");
}

@font-face {
  font-family: "sp_medium";
  src: url("../fonts/sp-sans-web-medium.woff2") format("woff2"), url("../fonts/sp-sans-web-medium.woff") format("woff"), url("../fonts/sp-sans-web-medium.eot") format("eot");
}

@font-face {
  font-family: "sp_regular";
  src: url("../fonts/sp-sans-web-regular.woff2") format("woff2"), url("../fonts/sp-sans-web-regular.woff") format("woff"), url("../fonts/sp-sans-web-regular.eot") format("eot");
}

@font-face {
  font-family: "sp_medium";
  src: url("../fonts/sp-sans-web-medium.woff2") format("woff2"), url("../fonts/sp-sans-web-medium.woff") format("woff"), url("../fonts/sp-sans-web-medium.eot") format("eot");
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif !important;
}

/*********************
BREAKPOINTS
*********************/
/*********************
 BOOTSTRAP BREAKPOINTS
 *********************/
/*********************
 BREAKPOINTS: Usage
 *********************/
/*
 @include breakpoint(breakpointname) {
     ==== STYLES ====    
 }
 */
.table {
  display: table;
}

.table-full {
  width: 100%;
  height: 100%;
  min-height: inherit;
  position: relative;
}

.table-full:after {
  content: "";
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

ul.inline-block-group {
  list-style: none;
  padding-left: initial;
}

ul.inline-block-group li {
  display: inline-block;
  vertical-align: middle;
}

.case-upper {
  text-transform: uppercase;
}

.case-lower {
  text-transform: lowercase;
}

.case-proper {
  text-transform: capitalize;
}

.m-auto {
  margin: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.bp-rel {
  position: relative;
}

.o-hidden {
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mobile-only {
  display: block;
}

.tablet-up {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Arial';
  color: #303030;
  margin: 0;
  padding: 0;
}

b, strong {
  font-weight: bold;
}

* {
  outline: none !important;
}

.section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

h1 {
  font-size: 6.25em;
  line-height: 1;
  color: #fff;
  font-weight: 200;
}

h2 {
  font-size: 4.3125em;
  line-height: 1.24;
  color: #fff;
  font-weight: 200;
}

h3 {
  font-size: 3.125em;
  line-height: 1.2;
  color: #D8D8D8;
}

h4 {
  font-size: 1.875em;
  line-height: 1.2;
}

p {
  font-size: 1.4375em;
  line-height: 1.3;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

video {
  outline: none;
  border: 0;
}

.animated .animated-child {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
}

.animated .animated-child.animated-slide-left {
  -webkit-transform: translateX(25px) translateY(0px);
          transform: translateX(25px) translateY(0px);
}

.animated .animated-child.animated-slide-right {
  -webkit-transform: translateX(-25px) translateY(0px);
          transform: translateX(-25px) translateY(0px);
}

.contact-footer {
  background-image: url(../images/green-footer.png);
}

.contact__footer-p {
  color: black !important;
}

.footer__p-white {
  color: #ffffff;
}

.footer-white {
  color: #ffffff;
}

.footer-contact__link1 {
  text-decoration: none;
}

.footer-contact__link2 {
  text-decoration: none;
}

.footer-contact__link3 {
  text-decoration: none;
}

.footer-contact__p1 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.footer-contact__p1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer-contact__p1:hover::after {
  width: 100%;
}

.footer-contact__p2 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.footer-contact__p2::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer-contact__p2:hover::after {
  width: 100%;
}

.footer-contact__p3 {
  position: relative;
  text-decoration: none;
}

.footer-contact__p3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer-contact__p3:hover::after {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.studio-logo {
  height: 81px;
}

footer {
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  height: 80px;
}

.footer-bg {
  background-image: url(../images/white-footer.png);
}

.footer {
  font-family: "sp_regular", sans-serif;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__menu {
    display: none;
  }
}

.footer__mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer__mb {
    display: block;
  }
}

.footer__mb-p {
  font-size: 1.125em;
}

.footer__paragraph {
  display: inline-block;
  font-size: 1.5em;
  font-family: "sp_regular", sans-serif;
  color: #9daf8a;
}

@media screen and (max-width: 768px) {
  .footer__paragraph {
    font-size: 1.125em;
  }
}

.footer__link1 {
  text-decoration: none;
}

.footer__link2 {
  text-decoration: none;
}

.footer__link3 {
  text-decoration: none;
}

.footer__p-black {
  color: #000000;
}

.footer__p1 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.footer__p1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000000;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer__p2 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.footer__p2::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #000000;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer__p2:hover::after {
  width: 100%;
}

.footer__p3 {
  position: relative;
  text-decoration: none;
}

.footer__p3::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #000000;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.footer__p3:hover::after {
  width: 100%;
}

.footer__box2 {
  display: inline-block;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.studio-logo {
  height: 90px;
}

.mobile__menu {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: #9daf8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.125em 1.25em;
  display: none;
  overflow-y: auto;
}

.mobile__upper {
  text-align: center;
  margin-bottom: 100px;
}

.mobile__menu-item {
  font-size: 1.0625em;
  margin: 12px 0;
}

.mobile__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__text--link {
  text-decoration: none;
  color: black;
  font-size: 2.375em;
}

.mobile__text {
  letter-spacing: 1px;
  margin: 22px 0;
}

.mobile__text:hover {
  color: black;
}

.mobile__menu-list--mobile {
  margin-top: 3.125em;
  list-style: none;
}

.mobile__close {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.125em;
}

.mobile__lower {
  text-align: left;
  border-top: 1px solid black;
}

.mobile__text-lower {
  font-size: 1.25em;
}

.mobile__contact {
  margin: 16px 0;
}

.mobile__contact a {
  display: block;
  color: black;
  text-decoration: none;
}

.menu {
  margin: 16px 0;
  padding: 0;
}

.map-link {
  text-decoration: underline !important;
}

.section-contact {
  background-color: #9daf8a;
  min-height: 100vh;
  max-height: 200vh;
  padding-top: 71px;
}

.contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 50px 20px;
}

@media screen and (max-width: 768px) {
  .contact__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact__image {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .contact__image {
    display: none;
  }
}

.contact__image img {
  width: 100%;
  height: auto;
}

.contact__visit__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__details {
  border-top: 1px solid black;
  margin-right: 20px;
  margin-left: 8px;
}

.contact__info {
  padding-bottom: 60px;
}

.contact__info-heading {
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  margin-top: 17px;
}

.contact__info-p1 {
  font-size: 1.125em;
  max-width: 60%;
  margin-top: 17px;
  margin-bottom: 22px;
}

.contact__info-p2 {
  font-size: 1.125em;
  margin: 0;
}

.contact__info-p3 {
  font-size: 1.125em;
}

.contact__container-p {
  line-height: 0;
}

.contact__visit {
  border-top: 1px solid black;
  margin-right: 32px;
  width: 50%;
}

.contact__follow {
  border-top: 1px solid black;
  width: 50%;
}

.contact__visit-heading {
  letter-spacing: 1px;
  margin: 24px 0;
  font-size: 1.5em;
  color: #000000;
}

.contact__visit-p1 {
  margin: 0;
  font-size: 1.125em;
}

.contact__visit-p2 {
  margin: 0;
  font-size: 1.125em;
}

.contact__follow-social {
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: underline;
  color: #000000;
}

.contact__follow-social:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: #000000;
}

.contact__visit-map {
  text-decoration: underline;
  color: #000000;
}

.contact__visit-map:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: #000000;
}

.section-gallery {
  padding-top: 120px;
  position: relative;
  padding-bottom: 100px;
  height: 100%;
  background: #f4f2f0;
}

.gallery__image-1 {
  width: 100%;
  height: 495px;
}

@media screen and (max-width: 768px) {
  .gallery__image-1 {
    width: 100%;
    height: 495px;
  }
}

.gallery__image-2 {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .gallery__image-2 {
    height: auto;
  }
}

.gallery__image-3 {
  width: 100%;
  height: 495px;
}

.gallery__image-4 {
  width: 100%;
  height: 495px;
}

.gallery__image-5 {
  width: 100%;
  height: 495px;
}

.gallery__image-6 {
  width: 100%;
  height: 495px;
}

.gallery__image-7 {
  width: 100%;
  height: 495px;
}

.gallery__image-8 {
  width: 100%;
  height: 495px;
}

.gallery__image-9 {
  width: 100%;
  height: auto;
}

.gallery__image-10 {
  width: 100%;
  height: 495px;
}

.gallery__image-11 {
  width: 100%;
  height: 495px;
}

.gallery__image-12 {
  width: 100%;
  height: 495px;
}

.gallery__image-r {
  width: 100%;
  height: 495px;
  margin-right: -20px;
}

@media screen and (max-width: 768px) {
  .gallery__image-r {
    margin: 0;
    margin-bottom: -232px;
  }
}

.gallery__next-proj {
  text-align: left;
  color: #9daf8a;
  font-size: 1em;
}

.gallery__span {
  font-size: 1.125em;
  color: #000000;
}

.gallery__next-img {
  margin-left: 101px;
}

@media screen and (max-width: 768px) {
  .gallery__next-img {
    display: none;
  }
}

.gallery__svg {
  display: none;
}

@media screen and (max-width: 768px) {
  .gallery__svg {
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 100%;
    height: 93px;
    margin-top: 100px;
    overflow: hidden;
    display: block;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 368px !important;
  height: 568px;
  margin-right: 25px !important;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    margin-right: 0px !important;
    padding-bottom: 20px;
    height: auto;
  }
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.mobile-title {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 173px;
}

@media screen and (min-width: 769px) {
  .mobile-title {
    display: none;
  }
}

.mb-heading1 {
  font-size: 1.125em;
  color: #000000;
}

.mb-heading2 {
  font-size: 1.125em;
  color: #c1bdb7;
}

.mobile-full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
}

.mobile-img {
  width: 368px;
  height: 495px;
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 429px) {
  .mobile-img {
    height: auto;
  }
}

.mobile-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.mb-heading-top1 {
  font-size: 1.125em;
  color: #000000;
}

.mb-heading-top2 {
  font-size: 1.125em;
  color: #c1bdb7;
}

.mobile-full {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-full {
    display: block;
  }
}

.mobile-next-project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
}

.section-philosophy {
  background-color: #9daf8a;
  padding-top: 120px;
}

.philosophy__link1 {
  text-decoration: none;
}

.philosophy__link2 {
  text-decoration: none;
}

.philosophy__link3 {
  text-decoration: none;
}

.philosophy__p1 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.philosophy__p1::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.philosophy__p1:hover::after {
  width: 100%;
}

.philosophy__p2 {
  margin-right: 6px;
  position: relative;
  text-decoration: none;
}

.philosophy__p2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.philosophy__p2:hover::after {
  width: 100%;
}

.philosophy__p3 {
  position: relative;
  text-decoration: none;
}

.philosophy__p3::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ffffff;
  bottom: 4px;
  left: 0;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.philosophy__p3:hover::after {
  width: 100%;
}

.about {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__textbox {
  padding-right: 30px;
}

@media screen and (max-width: 768px) {
  .about__textbox {
    padding: 0;
  }
}

.about__heading-1 {
  font-size: 1.46875em;
  margin: 32px 0;
  line-height: 1.3;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
}

.about__heading-2 {
  font-size: 1.46875em;
  margin-bottom: 32px;
  line-height: 1.3;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
}

.about__heading-3 {
  font-size: 1.46875em;
  margin-bottom: 32px;
  line-height: 1.3;
  color: black;
  font-weight: 400 !important;
  letter-spacing: 1px;
  text-align: left;
}

.about__content {
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .about__content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about__content {
    width: 100%;
  }
}

.about__images {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .about__images {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .about__images {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}

.about__img-container {
  max-width: 500px;
  min-height: 300px;
  min-width: 300px;
}

.about__img-boy {
  max-width: 300px;
}

.about__img-girl {
  margin-left: 200px;
  width: 300px;
  margin-top: -30px;
}

@media screen and (max-width: 1024px) {
  .about__img-girl {
    margin-left: 80px;
  }
}

@media screen and (max-width: 935px) {
  .about__img-girl {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .about__img-girl {
    margin-left: 200px;
  }
}

@media screen and (max-width: 544px) {
  .about__img-girl {
    margin-left: 0px;
  }
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.philo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .philo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.philo__content-2 {
  padding-right: 100px;
}

@media screen and (max-width: 768px) {
  .philo__content-2 {
    padding: 0;
  }
}

.philo__container {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .philo__container {
    width: 100%;
  }
}

.philo__box-1 {
  margin-right: 24px;
  border-top: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .philo__box-1 {
    margin-right: 0;
  }
}

.philo__box-2 {
  margin-right: 24px;
  border-top: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .philo__box-2 {
    margin-right: 0;
  }
}

.philo__item {
  padding-right: 100px;
}

@media screen and (max-width: 768px) {
  .philo__item {
    padding: 0;
  }
}

.philo__heading-1 {
  font-size: 1.5em;
  color: #000000;
  margin: 16.08px 0;
  letter-spacing: 0.5px;
  padding: 5px 0;
}

.philo__heading-2 {
  font-size: 1.5em;
  color: #000000;
  margin: 16.08px 0;
  letter-spacing: 0.5px;
  padding: 5px 0;
}

.philo__content-p1 {
  font-size: 1.125em;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .philo__content-p1:last-child {
    margin-bottom: 80px;
  }
}

.philo__content-p2 {
  font-size: 1.125em;
  margin-bottom: 16px;
}

.philo__content-p3 {
  font-size: 1.125em;
  margin-bottom: 18px;
}

.philo__content-p4 {
  font-size: 1.125em;
  margin-bottom: 18px;
}

.philo__content-p5 {
  font-size: 1.125em;
  margin-bottom: 18px;
}

.philo__content-p6 {
  font-size: 1.125em;
  margin-bottom: 18px;
}

.explore {
  border-top: 1px solid #000000;
  padding-bottom: 100px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .explore {
    padding-bottom: 80px;
  }
}

.explore__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__heading {
  font-size: 1.5em;
  color: #000000;
  margin: 16.08px 0;
}

.explore__arrow {
  height: 300px;
  width: 100%;
}

.explore__arrow-box {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .explore__arrow-box {
    display: none;
    width: 0;
  }
}

.explore__gld {
  height: auto;
  width: 450px;
  margin-top: 56.25px;
}

@media screen and (max-width: 768px) {
  .explore__gld {
    height: 450px;
    width: 100%;
  }
}

.explore__gld-box {
  width: 50%;
  position: absolute;
  left: 0;
}

.social {
  padding-bottom: 100px;
  border-top: 1px solid #000000;
  margin: 0 20px;
}

.social__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.social__text {
  display: inline-block;
}

.social__text h1 {
  font-size: 1.125em;
  color: #000000;
  margin: 20px 0 0px 0;
  letter-spacing: 0.5px;
}

.social__text p {
  font-size: 1.125em;
}

.social__text a {
  font-size: 1.125em;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-decoration: none;
  color: #000000;
}

.social__text a:hover {
  opacity: 0.8;
}

.social__map {
  font-size: 0.84375em !important;
  color: #000000;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.social__map:hover {
  color: #000000;
}

.section-home {
  padding-top: 100px;
  background-color: #F4F2F0;
  padding-bottom: 55px;
}

.card-1 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-1 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-1 {
    height: auto;
    max-height: 100%;
  }
}

.card-1:hover .card-1__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: url(../images/photography/gladstone-st_03.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-1__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: url(../images/photography/gladstone-st_03.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-1__overlay:hover {
  opacity: 1;
}

.card-1__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-1:hover .card-1__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-1__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-1__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-1__sketch {
    max-width: 53%;
  }
}

.card-2 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-2 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-2 {
    height: auto;
    max-height: 100%;
  }
}

.card-2:hover .card-2__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: url(../images/photography/bg-2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-2__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: url(../images/photography/bg-2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-2__overlay:hover {
  opacity: 1;
}

.card-2__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-2:hover .card-2__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-2__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-2__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-2__sketch {
    max-width: 53%;
  }
}

.card-3 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-3 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-3 {
    height: auto;
    max-height: 100%;
  }
}

.card-3:hover .card-3__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: url(../images/photography/bg-3.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-3__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: url(../images/photography/bg-3.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-3__overlay:hover {
  opacity: 1;
}

.card-3__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-3:hover .card-3__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-3__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-3__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-3__sketch {
    max-width: 53%;
  }
}

.card-4 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-4 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-4 {
    height: auto;
    max-height: 100%;
  }
}

.card-4:hover .card-4__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: url(../images/photography/bg-4.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-4__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: url(../images/photography/bg-4.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-4__overlay:hover {
  opacity: 1;
}

.card-4__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-4:hover .card-4__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-4__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-4__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-4__sketch {
    max-width: 53%;
  }
}

.card-5 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-5 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-5 {
    height: auto;
    max-height: 100%;
  }
}

.card-5:hover .card-5__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-5__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-5__overlay:hover {
  opacity: 1;
}

.card-5__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #000000;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-5:hover .card-5__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-5__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-5__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-5__sketch {
    max-width: 53%;
  }
}

.card-6 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-6 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-6 {
    height: auto;
    max-height: 100%;
  }
}

.card-6:hover .card-6__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-6__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-6__overlay:hover {
  opacity: 1;
}

.card-6__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #000000;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-6:hover .card-6__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-6__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-6__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-6__sketch {
    max-width: 53%;
  }
}

.card-7 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-7 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-7 {
    height: auto;
    max-height: 100%;
  }
}

.card-7:hover .card-7__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-7__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-7__overlay:hover {
  opacity: 1;
}

.card-7__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #000000;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-7:hover .card-7__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-7__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-7__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-7__sketch {
    max-width: 53%;
  }
}

.card-8 {
  position: relative;
  height: 520px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: none;
  background-color: #F4F2F0;
}

@media screen and (max-width: 768px) {
  .card-8 {
    height: 100%;
    max-height: 100%;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1550px) {
  .card-8 {
    height: auto;
    max-height: 100%;
  }
}

.card-8:hover .card-8__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-8__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(244, 242, 240, 0.7);
  background-position: center;
  background-size: cover;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card-8__overlay:hover {
  opacity: 1;
}

.card-8__text {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-decoration: none;
  color: #000000;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card-8:hover .card-8__text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9;
}

.card-8__sketch {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .card-8__sketch {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .card-8__sketch {
    max-width: 53%;
  }
}

.projects {
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 10px;
  }
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (520px)[4];
      grid-template-rows: repeat(4, 520px);
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .projects__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1550px) {
  .projects__list {
    -ms-grid-rows: (minmax(520px, 952px))[4];
        grid-template-rows: repeat(4, minmax(520px, 952px));
  }
}
/*# sourceMappingURL=build.css.map */